a{
    color: #ff9900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

#HomeLink{
    font-weight: bold;
}

.paraBg{
    background-color: #ff9900;
    margin: 10px;
}

.paraBorder{
    border: 3px solid black;
    border-style: solid;
}

.paraOverride{
    border-color: blue;
}
